In [5]:
#Zadanie polega na:
# 1. Wgraniu pliku CSV z titanikiem z zeszłych zajęć
# 2. Napisaniu własnej funkcji która zamienia cyfre 1 na string female i 0 na male
# 3. Zastosowaniu własnej funkcji na kolumnie z df titanic "sex"
# 4. Stworzenie nowej kolumny o nazwie "sex_new" z wartościami 0 i 1 zbudowanej na podstawie kolumny "sex"

In [6]:
import pandas as pd

In [8]:
df_titanic = pd.read_csv("/content/train.csv")

In [ ]:
df_titanic

In [ ]:
df_titanic["Sex"] = df_titanic["Sex"].replace({"female": 1, "male": 0})
df_titanic

In [11]:
def wlasna_funkcja(Sex):
  if Sex == "female":
    return "female"
  else:
    return "male"

In [ ]:
df_titanic["sex_new"] = df_titanic["Sex"].apply(wlasna_funkcja)
def wlasna_funkcja(sex_new):
  if value == 1:
    return "female"
  else:
    return "male"
df_titanic