In [ ]:
Zajęcia 3

Zadanie 1

a.

In [9]:
imie = input("Podaj imię: ")
if imie.isalpha():
  print(imie)
else:
  print ("Błąd")

Podaj imię: Ola
Ola

b

In [8]:
nazwisko = input("Podaj nazwisko: ")
if nazwisko.isalpha():
  print (nazwisko)
else:
  print("Błąd")

Podaj nazwisko: Dragić
Dragić

c

In [ ]:
wiek = input ("Podaj wiek: ")
if wiek.isdigit():
  print (wiek)
else:
  print ("Błąd")

d

In [ ]:
haslo = input("Podaj hasło:")
powtorz_haslo = input("Powtórz hasło: ")
if haslo == powtorz_haslo:
  print ("Hasło prawidłowe")
else:
  print ("Nieprawidłowe hasło")

e

In [17]:
print("Dane użytkownika:")
print("Imię:", imie)
print("Nazwisko:", nazwisko)
print("Wiek:", wiek)
print("Hasło:", haslo)

Dane użytkownika:
Imię: Ola
Nazwisko: Dragić
Wiek: 23
Hasło: eooe

2

In [ ]:
liczba1 = float(input("Podaj pierwszą liczbę: "))
liczba2 = float(input("Podaj drugą liczbę: "))
print("Dostępne operacje:")
print("1. Dodawanie")
print("2. Odejmowanie")
print("3. Mnożenie")
print("4. Dzielenie")
wybor = input("Wybierz numer operacji (1/2/3/4): ")
if wybor in ("1", "2", "3", "4"):
    if wybor == "1":
        wynik = dodawanie(liczba1, liczba2)
    elif wybor == "2":
        wynik = odejmowanie(liczba1, liczba2)
    elif wybor == "3":
        wynik = mnożenie(liczba1, liczba2)
    else:
        wynik = dzielenie(liczba1, liczba2)
    print("Wynik: ", wynik)
else:
  print("Błędny wybór operacji. Wybierz 1, 2, 3 lub 4.")

if wybor == "+":
  print(liczba1+liczba2)
elif wybor == "-":
  print(liczba1-liczba2)
elif wybor == "*":
  print(liczba1*liczba2)
elif wybor == "/":
  print(liczba1/liczba2)
if liczba2 == 0:
  print("Błąd: nie można dzielić przez zero")